
.LOGIN{
background-color: rgb(255, 0, 43);
width: 100%;
height: 40px;

}
.login{
    display: flex;
    justify-content: end;
}
/*login*/
.daLogin{
display: flex;
justify-content: end;
background-color: rgb(163, 178, 178);
justify-items: center;
width: 100%;
height: 50px;
}

.us{
    color: brown;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*Phần trên là login */
.products{
    display: flex;
  
}
.hienthi{
    display: flex;
    flex-direction: column;
}
#bag1{
    width: 300px;
    height: 500px;
    padding-left:20px ;

}
/*sản phẩm */
.buyproduct{
    background-color: antiquewhite;
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.muahang{
    width: 200px;
    height: 40px;
    border-radius: 500px;
    color: rgb(226, 226, 100);
    background-color: whitesmoke;
    font-size: larger;
}
.muahang:hover{
    background-color: green

}
/* button buy products*/
.gioithieu{
    text-align: center;
    font-size: larger;
    color: aquamarine;
}
/*gioithieu*/
.advertisement{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
#BAG12{
    width: 350px;
    height: 350px;
}
#Bag13{
    width: 350px;
    height: fit-content;
}