body{
  background-image:url("../img/img_bg.jpg")  
}
   
#content{
  width:1500px;
  height: 250px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
 
}
p{
  color: blue;
  width: 150px;
  height:150px;
  
}
   